
.NavBar {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 99;
 }

.carousel-inner {
    position: absolute; 
    width: 100%; 
    overflow: hidden;
    z-index: 98;
  }

.Carousel {
    position: absolute;
    z-index: 98;
}

