#join-btn {
    padding: 10px 15px 10px 15px;
    background: rgba(253, 160, 0, 0.8);
    border-radius: 8%;
    color: white;
    border: none;
    display: inline-block !important;
   margin-bottom: 20px;
}

#join-btn:disabled{
    padding: 10px 15px 10px 15px;
    background: rgba(78, 78, 78, 0.404);
    border-radius: 8%;
    color: white;
    border: none;
}