.event-card {
    text-align: center;
    z-index: 99;
    position: relative;
    width: 90%;
    margin-top: 53%;
    padding: 20px;
    line-height: .5;
    background: linear-gradient(0.85turn,  rgba(19, 34, 119, 0.9), rgba(231, 51, 156, 0.9), rgba(253, 160, 0, 0.9));
    border-radius: 3%;
    color: rgba(46, 34, 68, 1);
}

@media screen and (min-width: 500px) {
    .event-card {
        width: 45%;
        margin-top: 170px;
        margin-left: 45%;
    }
  }

#next-btn {
    margin-left: 15px;
    padding: 10px 15px 10px 15px;
    background: rgba(19, 34, 119, 0.8);
    border-radius: 8%;
    color: white;
    border: none;
    display: inline-block;
}

#alert {
    display: inline-block;
    padding-right: 50px;
}