.event-card {
    z-index: 99;
    position: relative;
    background: linear-gradient(0.85turn,  rgba(19, 34, 119, 0.7), rgba(231, 51, 156, 0.7), rgba(253, 160, 0, 0.7));
    width: 30%;
    margin-left: 60%;
    padding: 20px;
}