/* .Carousel-item .img-fluid {
    width:100%;
    height:auto;
  } */

  .Carousel {
    width:100%;
    height:100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  #carousel { 
    margin-left: 0px; margin-right: 0px
  }
  
  /* .Carousel-inner {
    width: 100%;
    height: 50px;
  }

<<<<<<< HEAD
  .Carousel-inner img {
     width: 100%;
     object-fit: cover;
     height: 50px;
  } */
=======
  .Carousel-inner {
    max-width: 100%;
  }

  .Carousel-inner img {
    max-width: 100%;
  }
>>>>>>> 6adc6622b2bc7c0a6f4432d553e09b355da41b20
