/* .Carousel-item .img-fluid {
    width:100%;
    height:auto;
  } */

  .Carousel {
    width: 100%;
    height:100px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #carousel { 
    margin-left: 0px; margin-right: 0px
  }

  .slide-1 {
    /* padding-bottom: 5px; */
    font-size: 25px;
    padding-top: 150px;
  }
  .slide-2 {
    /* padding-bottom: 5px; */
    font-size: 23px;
    padding-top: 150px;
  }
  .slide-3 {
    /* padding-bottom: 5px; */
    font-size: 19px;
    padding-top: 150px;
   
  }
  /* .button {
   margin-bottom: 75px;
  } */

  /* .Carousel-inner {
    width: 100%;
    height: 50px;
  }

  .Carousel-inner img {
     width: 100%;
     object-fit: cover;
     height: 50px;
  } */
