.event-btn-div {
    text-align: center;
    z-index: 99;
    position: relative;
}

.event-btn {
    margin: 10px;
    padding: 10px 15px 10px 15px;
    background: rgba(19, 34, 119, 0.8);
    border-radius: 7%;
    color: white;
    border: none;
}

#curate-body {
    background: linear-gradient(0.85turn,  rgba(19, 34, 119, 0.7), rgba(231, 51, 156, 0.7), rgba(253, 160, 0, 0.7));
    border: none;
}

.post-btn {
    padding: 10px 15px 10px 15px;
    background: rgba(19, 34, 119, 0.8);
    color: white;
    border: none;
}