#category, #participants, #duration {
    margin-left: 5px;
    font-size: 14px;
}

.event-input {
    width: 98%;
}

.event-btn-div {
    z-index: 99;
    position: relative;
}

#event-btn {
    margin-top: 60px;
    margin-left: 10px;
}

#select {
    width: 30%;
}