.MuiPaper-root {
    background: linear-gradient(0.85turn, rgba(253, 160, 0, 1), rgba(241, 123, 65, 1),  rgba(211, 32, 139, 1));
}

.MuiSvgIcon-root,
.MuiTypography-root {
    color: rgba(255, 255, 255, 1);
}

.MuiTypography-root {
    font-family: 'Comfortaa', cursive;
}

#NavBar {
    position: relative;
    z-index: 99;
}
